    * {
    font-family: 'Noto Sans HK', sans-serif;
}

.top-nav {
    background: #034EA3;
    color: white;
    margin: 2px;
}

.nav-text {
    font-size: 20px;
}

.page-footer {
    background: #034EA3;
}